/* Generating Color Pack*/
:root {
  --secTheme: #544d43;
  --highlight: #434A54 !important;
  --bg-gradient-highlight: linear-gradient(45deg, #656D78, #544d43) !important;
}

.color-highlight {
  color: #434A54 !important;
}

.bg-highlight {
  background-color: #434A54 !important;
  color: #FFF !important;
}

.border-highlight {
  border-color: #434A54 !important;
}

.gradient-highlight {
  background-image: linear-gradient(45deg, #656D78, #544d43);
}

.bg-highlight-sec {
  background-color: #544d43 !important;
  color: #FFF !important;
}

.border-highlight-sec {
  border-color: #544d43 !important;
}

.color-highlight-sec {
  color: #544d43;
}

.color-highlight-gradient {
  background-image: linear-gradient(45deg, #656D78, #544d43);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-bar-2 .active-nav,
.footer-bar-5 strong,
.footer-bar-4 strong,
.splide__pagination__page.is-active {
  background-color: #434A54 !important;
}

.footer-bar-1 .active-nav i,
.footer-bar-1 .active-nav span,
.footer-bar-3 .active-nav i {
  color: #434A54;
}

.form-floating-over > .form-control:focus ~ label {
  color: #434A54;
}

.form-floating-over > .form-control:not(:placeholder-shown) ~ label {
  color: #434A54;
}

.form-floating-over > .form-select ~ label {
  color: #434A54;
}

.color-highlight {
  color: #434A54;
}

.bg-highlight {
  background-color: #434A54;
  color: #FFF !important;
}

.interest-check input:checked ~ label {
  color: #FFF !important;
  background-color: #434A54 !important;
}
