/* Generating Color Pack*/
:root {
  --secTheme: #fc766a;
  --highlight: #0c0cb6 !important;
  --bg-gradient-highlight: linear-gradient(45deg, #0d0de0, #fc766a) !important;
}

.color-highlight {
  color: #0c0cb6 !important;
}

.bg-highlight {
  background-color: #0c0cb6 !important;
  color: #FFF !important;
}

.border-highlight {
  border-color: #0c0cb6 !important;
}

.gradient-highlight {
  background-image: linear-gradient(45deg, #0d0de0, #fc766a);
}

.bg-highlight-sec {
  background-color: #fc766a !important;
  color: #FFF !important;
}

.border-highlight-sec {
  border-color: #fc766a !important;
}

.color-highlight-sec {
  color: #fc766a;
}

.color-highlight-gradient {
  background-image: linear-gradient(45deg, #0d0de0, #fc766a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-bar-2 .active-nav,
.footer-bar-5 strong,
.footer-bar-4 strong,
.splide__pagination__page.is-active {
  background-color: #0c0cb6 !important;
}

.footer-bar-1 .active-nav i,
.footer-bar-1 .active-nav span,
.footer-bar-3 .active-nav i {
  color: #0c0cb6;
}

.form-floating-over > .form-control:focus ~ label {
  color: #0c0cb6;
}

.form-floating-over > .form-control:not(:placeholder-shown) ~ label {
  color: #0c0cb6;
}

.form-floating-over > .form-select ~ label {
  color: #0c0cb6;
}

.color-highlight {
  color: #0c0cb6;
}

.bg-highlight {
  background-color: #0c0cb6;
  color: #FFF !important;
}

.interest-check input:checked ~ label {
  color: #FFF !important;
  background-color: #0c0cb6 !important;
}
