//This page is not in SCSS structure
//Everything is arranged in compacted CSS code

$theme-dark-transparent-background: rgba(0, 0, 0, 0.902);
$theme-dark-transparent-background-2: rgba(15, 17, 23, 0.76);
$theme-dark-background-light: #232426;
$color_white: #FFF;
$theme-dark-background: #0f1117;
/* 
:root{
    --colorTheme:#{$color_white};
    --bgTheme:#{$theme-dark-background};
    --bgThemeLight:#{$theme-dark-background-light};
    --bgThemeTransparent:#{$theme-dark-transparent-background};
    --bgDarkTransparent:#{$theme-dark-transparent-background};
    --bgThemeTransparent2:#{$theme-dark-transparent-background-2};
    --bgDarkTransparent2:#{$theme-dark-transparent-background-2};
    --borderTheme:rgba(255,255,255,0.12);
} */