$color_white: #FFF;
$theme-light-text: #666666;
$theme-light-structure:#FFFFFF;
$theme-light-background:#f0f0f0;
$theme-light-background-light:#c7c7c7;
$theme-light-transparent-background: #ffffffe6;
$theme-light-transparent-background-2: #f0f0f0d0;
$theme-dark-structure: #21252a;
$theme-dark-background: #0f1117;
$theme-dark-transparent-bg: rgba(15, 17, 23, 0.906);
$theme-dark-lighter:rgba(255,255,255,0.05);
/* 
:root{
    --colorTheme:#{$theme-dark-background};
    --bgTheme:#{$theme-light-structure};
    --bgThemeLight:#{$theme-light-background-light};
    --bgThemeTransparent:#{$theme-light-transparent-background};
    --bgThemeTransparent2:#{$theme-light-transparent-background-2};
    --borderTheme:rgba(0,0,0,0.1);
} */