/* 
:root{
    --colorTheme:#0f1117;
    --bgTheme:#FFFFFF;
    --bgThemeLight:#c7c7c7;
    --bgThemeTransparent:#ffffffe6;
    --bgThemeTransparent2:#f0f0f0d0;
    --borderTheme:rgba(0,0,0,0.1);
} */
